/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(176, 176, 0);
    margin-left: 40px;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav ul {
    margin-right: 100px;
    list-style-type: none;
    display: flex;
    gap: 100px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(176, 176, 0);
    transition: 0.4s;
}

nav ul li a:hover {
    transform: scale(1.2);
    color: #fff;
    border-radius: 16px;
    padding: 5px 10px;
    background-color: rgb(176, 176, 0);
}

header img {
    margin-right: 40px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: rgb(176, 176, 0);
    text-align: center;
    padding: 10px;
}

#slideshow-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1; /* Alterado para 1 para garantir que a imagem seja visível */
    transition: opacity 0.5s ease;
}

/* Estilo do container do cartão */
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilo dos produtos */
.produtos {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.produtos img {
    width: 100%;
    height: auto;
}

.produtos h2 {
    font-size: 20px;
    color: #333;
}

.produtos p {
    font-size: 16px;
    color: #666;
}

.produtos button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.produtos:hover {
    transform: scale(1.05);
    transition: transform .2s;
}

.produtos button:hover {
    background-color: #0056b3;
    transition: background-color .2s;
}


